@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root {
    --color-white: hsl(0, 0%, 100%);
    --grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --error-color: hsl(0, 100%, 66%);
    --greadient-color:  hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
 html, body {  
  block-size: 100%;
 }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    margin-inline: auto;
    max-inline-size: 1440px;
  }
 
  img {
    display: block;
    max-width: 100%;
  }
  
  input, button {
    font: inherit;
  }

  // remove arrow from input
  input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  .attribution {
    background-color: var(--grayish-violet);
    padding-block: 5rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .attribution, .attribution * {
    color: var(--very-dark-violet);

    a {
        text-decoration: none;
    }

    a:hover {
        color: hsl(277, 70%, 48%);
    }
  }



 
 
 